/* ORBITRON FONT */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* font-family: "Orbitron", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    /* --background-color:#0a0a0a; */
    /* --background-color:#000000; */
    --background-color: #141414;
    --font-color: #ffffff;
    /* --brand-color:#00fa9a; */
    /* --brand-color : #ef0d33; */
    --brand-color: #ff6812;
    --brand-secondary-color: #bf0a29;
    --brand-third-color: #f23d5c;
    --gray-color: #888888;
    --light-green: #e5f5ed;
    --light-gray: #f6f6f6;
    --dark-gray: #2e2e2e;
    /* --blue-color: #1e90ff; */
    --green-color: #87ff65;
    /* --dark_brown-color: #764248; */
    /* --blue-color: #13293d; */
    --blue-color: #1a3b5e;
    --dark-blue-color: #0d253f;
    --font-merienda:"Merienda", cursive;
}
                                                                      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    /* caret-color: var(--brand-color); */

}


::-webkit-scrollbar {
    width: 0.3rem;

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 0.5rem;
}


a {
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

/* HEADER STARTS ************************************************** */
.header {
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;


}

.header.active {
    background-color: rgba(46, 46, 46, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7.5vw;

}

/* .header.active */

.header_wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo_anchor {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo_anchor img {
    width: 12vw;
}



.navbar {
    display: flex;
}

.navbar li .nav_link {
    padding: 1vw 2vw;
    font-size: 1.1vw;
    transition: 0.3s ease;
}

.navbar li a:hover {
    color: var(--brand-color);
}

.company_links {
    position: relative;
}

.insights_link {
    position: relative;
}

.services_links {
    position: relative;
}

.services_links .dropdown>li{
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.dropdown2 {
    position: absolute;
    max-height: 60vh;
    left: 100%;
    width: 16vw;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    background-color: var(--dark-gray);
    overflow: auto;
}



.dropdown2 .sub_links {
    padding: 1vw 1.5vw;
    transition: 0.5s ease;
    display: none;
    font-size: 1.1vw;
}

.dropdown2 .sub_links:hover {
    background-color: var(--brand-color);
    color: var(--font-color);
}

.service_drop_link:hover .dropdown2 .sub_links {
    display: block;
}

.dropdown {
    width: 16vw;
    background-color: var(--dark-gray);
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s ease;
}

.dropdown .dropdown_link {
    padding: 1vw 3vw;
    transition: 0.5s ease;
    font-size: 1.1vw;
}

.dropdown .dropdown_link:hover {
    background-color: var(--brand-color);
    color: var(--font-color);
}

.print_dropdown {
    width: 16vw;
    max-height: 60vh;
    background-color: var(--dark-gray);
    position: absolute;
    display: none;
    flex-direction: column;
    transition: 0.5s ease;
    overflow: auto;
}

.print_dropdown .dropdown_link {
    padding: 1vw 2.5vw;
    transition: 0.5s ease;
    font-size: 1.1vw;
}

.print_dropdown .dropdown_link:hover {
    background-color: var(--brand-color);
    color: var(--font-color);
}

.company_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.insights_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.services_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.printing_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.company_links:hover .company_arr {
    rotate: 180deg;
}

.insights_links:hover .insights_arr {
    rotate: 180deg;
}

.services_links:hover .services_arr {
    rotate: 180deg;
}

.printing_links:hover .printing_arr {
    rotate: 180deg;
}

.company_links:hover .dropdown {
    display: flex;
}

.insights_links:hover .dropdown {
    display: flex;
}

.services_links:hover .dropdown {
    display: flex;
}

.printing_links:hover .print_dropdown {
    display: flex;
}

.contact {
    border: 2px solid var(--brand-color);
    border-radius: 0.5vw;
    position: relative;
    overflow: hidden;
    color: var(--font-color);
}

.contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0.1vw;
    color: var(--font-color);
    background-color: var(--brand-color);
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.contact:hover::before {
    transform: translateX(0%);
}

.contact:hover a {
    color: var(--font-color) !important;
}

/* HEADER ENDS **************************************************** */

/* MAIN *********************************************************** */

/* HERO ******************************************************* */
.hero_section {
    width: 85%;
    margin: 0 auto;
    padding: 5vw 0;
    display: flex;
    justify-content: space-between;
}

.hero_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


.hero_title {
    width: 100%;
    font-size: 4vw;
    line-height: 1.3;
}

.hero_title span {
    color: var(--brand-color);
    font-family: "Merienda", cursive;
}

.hero_para {
    width: 90%;
    font-size: 1.7vw;
    line-height: 1.5;
    color: var(--light-gray);
}

.work_redirect_container {
    font-size: 1.3vw;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    padding-top: 2.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.work_redirect_btn {
    color: var(--font-color);
}

.work_arr {
    font-size: 2vw;
    color: var(--brand-color);
    display: inline-block;
    transition: 0.5s;
}

.work_redirect_btn:hover {
    color: var(--brand-color);
}

.work_redirect_btn:hover .work_arr {
    transform: translate(0.7vw, -0.7vw);
}

.hero_right {
    width: 40%;
    display: flex;
    justify-content: end;
}

.hero_right img {
    width: 100%;
}


.brown {
    fill: var(--dark-blue-color);
}

@keyframes manfstline {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.line3,
.line4 {
    transform: translateX(-2vw);
}

.line1,
.line2 {
    transform: translateX(4vw);
}


.move_girl_line {
    transform-box: fill-box;
    transform: translateX(2vw);
    animation: movegirl 5s infinite;
}


@keyframes movegirl {
    0% {
        transform: translateX(-2vw);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2vw);
    }
}

.moving_hand_man {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: manMoving 5s infinite;
}

@keyframes manMoving {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.man_hand {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: manHand 5s infinite;
}

@keyframes manHand {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.circ {
    animation: popup 1.3s infinite;
    /* animation-delay: 2.3s ; */
}

@keyframes popup {
    0% {
        opacity: 1;
        fill: var(--brand-color);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        fill: var(--brand-color);
    }
}

.moving_body {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: moveBody 5s infinite;
}

@keyframes moveBody {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.arrow_up {
    transform-box: fill-box;
    animation: scaleArrow 5s infinite;
    transform-origin: bottom;
}

@keyframes scaleArrow {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

.arrow_down {
    transform-box: fill-box;
    animation: scaleArrow 5s infinite;
    transform-origin: up;
}

@keyframes scaleArrow {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

/* MARQUE ******************************************* */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-top: 0.5px solid var(--dark-gray);
    border-bottom: 0.5px solid var(--dark-gray);
}

.marquee span {
    display: inline-block;
    font-size: 2vw;
    position: relative;
    left: 100%;
    animation: marquee 12s linear infinite;
}

.marquee span img {
    width: 7vw;
}

.marquee:hover span {
    animation-play-state: paused;
}

.marquee span:nth-child(1) {
    animation-delay: 0s;
}

.marquee span:nth-child(2) {
    animation-delay: 1.2s;
}

.marquee span:nth-child(3) {
    animation-delay: 2.2s;
}

.marquee span:nth-child(4) {
    animation-delay: 3.2s;
}

.marquee span:nth-child(5) {
    animation-delay: 4.2s;
}

.marquee span:nth-child(6) {
    animation-delay: 5.2s;
}

.marquee span:nth-child(7) {
    animation-delay: 6.2s;
}

.marquee span:nth-child(8) {
    animation-delay: 7.2s;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

/* MARQUE ******************************************* */
/* HERO ******************************************************* */

/* FEATURED SECTION */
.jswebart_brand {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10vw 0;
}

.jswebart_brand_title {
    width: 100%;
    color: var(--brand-color);
    font-size: 1.4vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

.jswebart_brand_para {
    color: var(--font-color);
    font-size: 2.7vw;
    line-height: 1.3;
    width: 85%;
    margin-top: 1vw;
}

.jswebart_brand_para_two {
    padding-top: 2vw;
    font-size: 1.8vw;
    width: 100%;
    color: #bbb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jswebart_brand_para_two span {
    width: 60%;

}

.jswebart_brand_para_two .span2{
    color: var(--brand-color);
    font-weight: normal;
}

.rejected_logos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.rejected {
    transition: 0.4s;
    border-radius: 1vw;
    cursor: pointer;
}

.rejected:hover{
    box-shadow: var(--light-gray) 0px 1px 8px, var(--light-gray) 0px 2px 15px, var(--light-gray) 0px 3px 22px;
    transform: translateY(-0.1vw);
}

.brand_image_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2vw;
    padding-top: 5vw;
}
.card_one {
    position: relative;
    z-index: 5;
    transform: skew(-40deg, 20deg);
}
.card_two {
    position: relative;
    z-index: 4;
    transform: skew(-40deg, 20deg);
}
.card_three {
    position: relative;
    z-index: 3;
    transform: skew(-40deg, 20deg);
}
.card_four {
    position: relative;
    z-index: 2;
    transform: skew(-40deg, 20deg);
}
.card_five {
    position: relative;
    z-index: 1;
    transform: skew(-40deg, 20deg);
}

.main_brand_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    margin-top: 5vw;
    cursor: grab;
    /* border: 2px solid red; */
}
.main_image{
    box-shadow: rgba(255, 104, 18,0.95) 0px 0px 7px, rgba(255, 104, 18,0.85) 0px 0px 13px, 
    rgba(255, 104, 18,0.75) 0px 0px 21px;
    
    transition: all 0.5s;

}
.main_image:hover{
    box-shadow: rgba(255, 104, 18,0.95) 0px 0px 7px, rgba(255, 104, 18,0.85) 0px 0px 13px, 
    rgba(255, 104, 18,0.75) 0px 0px 18px, rgba(255, 104, 18,0.65) 0px 0px 25px, rgba(255, 104, 18,0.55) 0px 0px 30px;
    transform: scale(1.01);
}

.jswebart_brand_representation {
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.7vw;
    color: var(--gray-color);
}


.brand_story1 {
    font-size: 5.7vw;
    margin-top: 5vw;
    width: 100%;
    color: var(--blue-color);
    position: relative;
}

.brand_story1::after {
    content: "";
    position: absolute;
    width: 87%;
    height: 2px;
    color: var(--dark-gray);
    background-color: var(--dark-gray);
    top: 50%;
    left: 10%;
}

.brand_story2 {
    font-size: 5.7vw;
    margin-top: 5vw;
    width: 100%;
    color: var(--blue-color);
    position: relative;
    text-align: end;
}

.brand_story2::before {
    content: "";
    position: absolute;
    width: 87%;
    height: 2px;
    color: var(--dark-gray);
    background-color: var(--dark-gray);
    top: 50%;
    left: 0;
}

.color_para {
    font-size: 1.8vw;
    line-height: 1.2;
    width: 60%;
    margin-bottom: 4vw;
    color: #ddd;
}

.color_para_2 {
    font-size: 1.8vw;
    width: 100%;
    text-align: end;
    color: #ddd;
}

.palette_para {
    width: 100%;
    font-size: 1.8vw;
    padding-top: 10vw;
    text-align: center;
    color: #ddd;
}

.color_palettes {
    width: 100%;
    height: 10vw;
    display: flex;
    margin: 1vw auto;
    
    border-radius: 1vw;
    color: var(--gray-color);
    font-size: 1vw;
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.background_color {
    border: 2px solid var(--gray-color);
    width: 40%;
    background-color: var(--background-color);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    transition: 0.5s;
}

.background_color:hover {
    transform: translateY(-0.6vw);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.font_color {
    width: 30%;
    background-color: var(--font-color);
    transition: 0.5s;
    border: 2px solid var(--gray-color);
}

.font_color:hover {
    transform: translateY(-0.6vw);
}

.brand_color {
    width: 20%;
    background-color: var(--brand-color);
    transition: 0.5s;
    border: 2px solid var(--gray-color);
}

.brand_color:hover {
    transform: translateY(-0.6vw);
}

.secondary_color {
    width: 10%;
    background-color: var(--blue-color);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    transition: 0.5s;
    border: 2px solid var(--gray-color);
}

.secondary_color:hover {
    transform: translateY(-0.6vw);
}

.palette_desc {
    width: 100%;
    color: #ccc;
    margin-bottom: 5vw;
}
.center1 {text-align: center;}
.bg {
    width: 40%;
}

.font {
    width: 30%;
}

.primary {
    width: 20%;
}

.second {
    width: 10%;
}


.brand_story3 {
    font-size: 5.7vw;
    margin-top: 5vw;
    width: 100%;
    color: var(--blue-color);
    position: relative;
    text-align: start;
}

.brand_story3::after {
    content: "";
    position: absolute;
    width: 87%;
    height: 2px;
    color: var(--dark-gray);
    background-color: var(--dark-gray);
    top: 50%;
    right: 0;
}


.brand_story_para {
    font-size: 1.8vw;
    color: #ddd;
    width: 30%;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    padding-bottom: 3vw;
}

.brand_story_para2 {
    font-size: 1.8vw;
    color: #ddd;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    padding-bottom: 3vw;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.brand_story_para3 {
    font-size: 1.8vw;
    color: #ddd;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    padding-bottom: 3vw;
    text-align: start;
    display: flex;
    justify-content: flex-start;
}

.brand_story_para2 span {
    width: 30%;
}

.brand_story_para3 span {
    width: 30%;
}

.shirts_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vw;
    margin-bottom: 8vw;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}


.shirts_para {
    width: 50%;
}

.shirts_para span {
    width: 80%;
    font-size: 1.5vw;
    line-height: 1.2;
    color: #ddd;
    padding-top: 3vw;
    text-align: end;
}

.shirt_front {
    margin-top: -1.5vw;
}
.shirt_back {
    position: absolute;
    top: 25%;
    right: 0;
}


.cup_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cup_para {
    position: absolute;
    width: 35%;
    top: 25%;
    line-height: 1.2;
    left: 20%;
    font-size: 1.5vw;
    color: #ddd;
    background-color: var(--background-color);
}

/* FEATURED SECTION */

/* MAIN *********************************************************** */