/* ORBITRON FONT */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* font-family: "Orbitron", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    /* --background-color:#0a0a0a; */
    /* --background-color:#000011; */
    --background-color: #141414;
    --font-color: #ffffff;
    /* --brand-color:#00fa9a; */
    /* --brand-color : #ef0d33; */
    --brand-color: #ff6812;
    --brand-secondary-color: #bf0a29;
    --brand-third-color: #f23d5c;
    --gray-color: #888888;
    --light-green: #e5f5ed;
    --light-gray: #f6f6f6;
    --dark-gray: #2e2e2e;
    /* --blue-color: #1e90ff; */
    --green-color: #87ff65;
    /* --dark_brown-color: #764248; */
    /* --blue-color: #13293d; */
    --blue-color: #1a3b5e;
    --dark-blue-color: #0d253f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}


::-webkit-scrollbar {
    width: 0.3rem;

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 0.5rem;
}


a {
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

/* HEADER STARTS ************************************************** */
.header {
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid var(--dark-gray);
}

.logo {
    position: relative;
    font-size: 2vw;
    text-transform: lowercase;
    letter-spacing: 0.5vw;
    color: var(--font-color);
    font-weight: lighter;
    font-family: "Merienda", cursive;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.j {
    top: 0.5vw;
    /* top: -0.5vw; */
    left: 2%;
    position: absolute;
    font-size: 6vw;
    text-transform: uppercase;
    color: var(--brand-color);
    /* color: rgba(255, 104, 18, 0.8); */
    rotate: 10deg;
    font-weight: 500;
    z-index: 2;
    /* font-family: "Merienda", cursive; */
}

.s {
    position: absolute;
    left: 3.5vw;
    bottom: 0.5vw;
    /* bottom: -0.5vw; */
    font-size: 6vw;
    text-transform: uppercase;
    color: var(--blue-color);
    /* color: rgba(255, 104, 18, 0.8);; */
    rotate: -20deg;
    font-weight: 500;
    z-index: 2;
    /* font-family: "Merienda", cursive; */
}

.navbar {
    display: flex;
}

.navbar li .nav_link {
    padding: 1vw 2vw;
    font-size: 1.12vw;
    transition: 0.3s ease;
}

.navbar li a:hover {
    color: var(--brand-color);
}

.company_links {
    position: relative;
}

.insights_link {
    position: relative;
}

.services_links {
    position: relative;
}

.service_dropdown {
    width: 90vw;
    background-color: var(--dark-gray);
    position: absolute;
    left: -37.5vw;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.5s ease;
    padding: 2vw;
    z-index: 0;
}

.gd {
    width: 34%;
}

.wd {
    width: 34%;
}

.print {
    width: 100%;
}

.seo {
    width: 26%;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: var(--blue-color);
    color: var(--brand-color);
    transition: 0.5s;
}

.service_drop_link {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    font-size: 1.25vw;
    font-weight: bold;
    padding: 1vw 0;
    transition: 0.5s;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    border-bottom: 1px solid var(--font-color);
}

.service_drop_link:hover .icon_container {
    color: var(--blue-color);
    background-color: var(--brand-color);
}

.sub_links_container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 1vw;
}

.sub_links {
    font-size: 1vw;
    letter-spacing: 0.1vw;
    padding: 0.5vw 0;
}

.print_container {
    display: flex;
    border-top: 0.5px solid var(--font-color);
    padding-top: 1vw;
}

.print_options_container {
    width: calc(100% /5);
}

.print_links {
    font-size: 1vw;
    display: block;
    padding: 0.5vw 0;
    letter-spacing: 0.1vw;
}

.dropdown {
    width: 16vw;
    background-color: var(--dark-gray);
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s ease;
}

.dropdown .dropdown_link {
    padding: 1vw 3vw;
    transition: 0.5s ease;
}

.dropdown .dropdown_link:hover {
    background-color: var(--brand-color);
    color: var(--font-color);
}

.company_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.insights_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.services_arr {
    display: inline-block;
    transition: 0.5s ease;
}

.company_links:hover .company_arr {
    rotate: 180deg;
}

.insights_links:hover .insights_arr {
    rotate: 180deg;
}

.services_links:hover .services_arr {
    rotate: 180deg;
}

.company_links:hover .dropdown {
    display: flex;
}

.insights_links:hover .dropdown {
    display: flex;
}

.services_links:hover .service_dropdown {
    display: flex;
}

.contact {
    border: 2px solid var(--brand-color);
    border-radius: 0.5vw;
    position: relative;
    overflow: hidden;
    color: var(--font-color);
}

.contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0.1vw;
    color: var(--font-color);
    background-color: var(--brand-color);
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.contact:hover::before {
    transform: translateX(0%);
}

.contact:hover a {
    color: var(--font-color) !important;
}

/* HEADER ENDS **************************************************** */

/* MAIN *********************************************************** */

/* HERO ******************************************************* */
.hero_section {
    width: 80%;
    margin: 0 auto;
    padding: 5vw 0;
    display: flex;
    justify-content: space-between;
}

.hero_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


.hero_title {
    width: 100%;
    font-size: 4vw;
    line-height: 1.3;
}

.hero_title span {
    color: var(--brand-color);
    font-family: "Merienda", cursive;
}

.hero_para {
    width: 90%;
    font-size: 1.7vw;
    line-height: 1.5;
    color: var(--light-gray);
}

.work_redirect_container {
    font-size: 1.3vw;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    padding-top: 2.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.work_redirect_btn {
    color: var(--font-color);
}

.work_arr {
    font-size: 2vw;
    color: var(--brand-color);
    display: inline-block;
    transition: 0.5s;
}

.work_redirect_btn:hover {
    color: var(--brand-color);
}

.work_redirect_btn:hover .work_arr {
    transform: translate(0.7vw, -0.7vw);
}

.hero_right {
    width: 40%;
    display: flex;
    justify-content: end;
}

.hero_right img {
    width: 100%;
}


.brown {
    fill: var(--dark-blue-color);
}

@keyframes manfstline {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.line3,
.line4 {
    transform: translateX(-2vw);
}

.line1,
.line2 {
    transform: translateX(4vw);
}


.move_girl_line {
    transform-box: fill-box;
    transform: translateX(2vw);
    animation: movegirl 5s infinite;
}

@keyframes movegirl {
    0% {
        transform: translateX(-2vw);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2vw);
    }
}

.moving_hand_man {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: manMoving 5s infinite;
}

@keyframes manMoving {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.man_hand {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: manHand 5s infinite;
}

@keyframes manHand {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.circ {
    animation: popup 1.3s infinite;
    /* animation-delay: 2.3s ; */
}

@keyframes popup {
    0% {
        opacity: 1;
        fill: var(--brand-color);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        fill: var(--brand-color);
    }
}

.moving_body {
    transform-box: fill-box;
    transform: translateX(1vw);
    animation: moveBody 5s infinite;
}

@keyframes moveBody {
    0% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(1vw);
    }
}

.arrow_up {
    transform-box: fill-box;
    animation: scaleArrow 5s infinite;
    transform-origin: bottom;
}

@keyframes scaleArrow {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

.arrow_down {
    transform-box: fill-box;
    animation: scaleArrow 5s infinite;
    transform-origin: up;
}

@keyframes scaleArrow {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

/* MARQUE ******************************************* */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-top: 0.5px solid var(--dark-gray);
    border-bottom: 0.5px solid var(--dark-gray);
}

.marquee span {
    display: inline-block;
    font-size: 2vw;
    position: relative;
    left: 100%;
    animation: marquee 12s linear infinite;
}

.marquee span img {
    width: 7vw;
}

.marquee:hover span {
    animation-play-state: paused;
}

.marquee span:nth-child(1) {
    animation-delay: 0s;
}

.marquee span:nth-child(2) {
    animation-delay: 1.2s;
}

.marquee span:nth-child(3) {
    animation-delay: 2.2s;
}

.marquee span:nth-child(4) {
    animation-delay: 3.2s;
}

.marquee span:nth-child(5) {
    animation-delay: 4.2s;
}

.marquee span:nth-child(6) {
    animation-delay: 5.2s;
}

.marquee span:nth-child(7) {
    animation-delay: 6.2s;
}

.marquee span:nth-child(8) {
    animation-delay: 7.2s;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

/* MARQUE ******************************************* */
/* HERO ******************************************************* */

/* FEATURED SECTION */
.featured_work_section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5vw 0;
}

.featured_number {
    font-size: 10vw;
    color: var(--background-color);
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: var(--font-color);
}

.jswebart_work {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 60vh;
    width: 22vw;
    position: relative;
    transform: skew(-45deg, 20deg);
    left: 15%;
    box-shadow: 20px 20px 20px #999;
}

.jswebart_work:after,
.jswebart_work:before {
    content: '';
    background: #0a0a0a;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.jswebart_work:after {
    width: 100%;
    height: 2vw;
    left: 1vw;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
}

.jswebart_work:before {
    width: 2vw;
    height: 100%;
    right: 0;
    transform: translatex(100%) skewy(45deg);
    top: 1vw;
}

/* FEATURED SECTION */

/* MAIN *********************************************************** */